<html>
  <head>
    <title>
      Header Test
    </title>
  </head>
  <body>
    <h1>Header Test</h1>
    <div>Here is the React Component:</div>
    <div id="app-header"></div>
    <script type="text/javascript" src="./<%= cache_name %>/app_header.min.js"></script>
    <link rel="stylesheet" href="./<%= cache_name %>/app_header.min.css" />
  </body>
</html>
